Debug/*
ipch/*
*.sdf
*.opensdf
*.suo
*.user
*.png
*.bmp
*.jpg
qtclient/assets/*
qtclient/GeneratedFiles/*
qtclient/Debug/*
riotgames/Debug/*
rtmp/Debug/*
tools/airlog/Debug/*
tools/injector/Debug/*
tools/classdump/Debug/*
documents/*